{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<section class="text-sm-start">
      <div class="container">
        <div class="d-sm-flex align-items-md-center">
          <h2 class="py-3"><strong>Web Calculator</strong></h2>
        </div>
        <div>
          <p>
              This is a web based calculator that will allow you to perform the four basic arithmetic operations:
              addition, subtraction, multiplication, and division. The <strong>Calculations</strong> page shows the
              history of calculations.
          </p>
        </div>
      </div>
    </section>
{% endblock %}